details {
  background: #ddd;
}
details summary {
}
details table {
  margin-left: 10px;
  font-family: monospace;
  border-collapse: collapse;
}
details table td {
  border: 4px solid #ddd;
  padding: 0;
}
details table td .input {
  background: white;
}
details table tr {
}
details table th {
  border: 4px solid #ddd;
  background: #ddd;
  text-align: right;
  padding: 2px;
  vertical-align: top;
}
