/*
body > section {
    position: absolute;
    top: 44px;
    left: 0; right: 0;
    bottom: 0;
    padding: 10px;
}
*/

textarea {
    white-space: nowrap; 
    overflow: auto;
}

.wbListViewCell .detailTextLabel label {
    font-weight: normal;
}

.wbListCellStyleWidget.changed > .contentView label{
    color: blue;
}

.QueryErrorView,
.QueryErrorView td, 
.QueryErrorView th {
    text-align: left;
}

.QueryErrorView th {
    text-align: right;
    padding: 2px 4px;
    background: #fee;
}

.QueryErrorView td {
    padding: 2px 4px;
    white-space: pre;
}

.QueryErrorView.wbStyleNotice {
    border: 2px solid;
    color: black;
    border-color: black;
    background: white;
    text-align: center;
    border-radius: 10px;
    margin: 1em 0;
    padding: 6px 4px 4px 4px;
}

.QueryErrorView.wbStyleSuccess {
    border: 2px solid;
    color: green;
    border-color: green;
    background: white;
    text-align: center;
    border-radius: 10px;
    margin: 1em 0;
    padding: 6px 4px 4px 4px;
}

.QueryErrorView.wbStyleError {
    border: 2px solid;
    color: red;
    border-color: red;
    background: white;
    text-align: center;
    border-radius: 10px;
    margin: 1em 0;
    padding: 6px 4px 4px 4px;
}

.QueryErrorView details {
    text-align: left;
    font-size: 80%;
    font-weight: normal;
}